/* ====== MAIN WRAPPER ELEMENTS ====== */

body {
    background-color: #eff5f8;
    margin: 0;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    padding-top: 20px;
}
/* ====== NAVBAR ====== */
nav {
    background-color: #f0ead6;
    padding: 20px;
    
}
nav .navLeft {
    float: left;
}

nav .navLeft a {
    text-decoration: none;
    color: #333333;
}
nav .navLeft a:hover {
    color:black;
    text-decoration: underline;
}

nav .navRight {
    float: right;
}
nav .clear {
    clear: both;
}
/* ====== TIMER ====== */
#timer {
    font-weight:bold;
    color: crimson;
}
/* ====== INSTRUCTION TEXT ====== */
#instruction-text {
    text-align:left;
}
/* ====== QUESTION CONTAINER ====== */
#question-container {
    display: none;
}
.question-main-container {
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80vw;
    background-color: #f0ead6;
}
/* ====== RESULTS CONTAINER ====== */
#results-container {
    display: none;
}

/* ====== HIGH SCORE CONTAINER ====== */
.score-container {
    display: none;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80vw;
    background-color: #f0ead6;
}
.score-container li {
    padding:10px;
    text-align: left;
    list-style: none;
}
/* ====== CARD CONTENTS ====== */
.card-contents {
    padding: 5px 5px 30px 5px;
}

/* ====== ANSWER BUTTON ====== */
.answer-button {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    color: #333333;
    border: 0;
    width: 70vw;
    margin: 5px;
}
.answer-button:hover {
    background-color: #f8f9fa;
    color: #333333;
}

/* ====== FORM ELEMENTS ====== */
button {
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
    width: 20vh;
    margin-bottom: 10px;
}

input {
    background-color: #f7f7f7;
    color: #333333;
    font-size: 20px;
    border: 0;
    width: 50vw;
    line-height: 30px;
    margin-right: 15px;
}
#name,
#email,
#submit {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
}
/* ====== RESPONSE ELEMENT ====== */
#response {
    padding-bottom: 30px;
}